@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
	background: linear-gradient(#4c3f4b, #251e25) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: transparent;
	color: white;
}

#content {
	width: 100%;
	max-width: 1116px; // perfectly fits 4 movies
	margin: 20px auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	// justify-content: center;

	.movie {
		padding: 10px;
		box-sizing: border-box;
		transform: scale(0.96);
		transition: transform 200ms;

		&:hover {
			transform: scale(1);
		}

		& > div {
			width: 250px;
			height: 400px;
			border: 2px solid white;
			border-radius: 5px;
			overflow: hidden;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			.info {
				padding: 150px 10px 10px;
				background: linear-gradient(transparent, rgba(black, 0.9));

				h2 {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 20px;
				}
			}
		}
	}
}

@font-face {
	font-family: "rating-stars";
	src: url("./content/rating-stars.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

.rating {
	display: flex;
	margin-left: -2px;
	margin-bottom: 4px;

	.star {
		width: 28px;
		height: 28px;
		position: relative;
		cursor: pointer;

		&:after, &:before {
			font-family: "rating-stars";
			font-size: 20px;
			line-height: 28px;
			text-align: center;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 100ms, opacity 100ms;
		}

		&:before {
			content: "\e900";
			color: rgba(white, 0.7);
		}

		&.full:before {
			content: "\e902";
			color: rgba(white, 0.7);
		}

		&.half:before {
			content: "\e901";
		}

		&:after {
			content: "\e902";
			opacity: 0;
			color: yellow;
		}

		&.active:after {
			opacity: 1;
		}
	}

	&:active .star.active:after {
		transform: scale(1.2);
	}
}
